<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> 
    <title>图库</title>   
    <script src="/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="app">
<div id="app" >
	<!--导航栏-->
   <div class="navbar navbar-inverse navbar-fixed-top" id="menu-nav">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <!-- sr-only仅阅读器能见实际不会呈现在页面上 -->
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">知音町</a>
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/page/homepage">首页</a></li>
                    <li><a href="/page/resources">音声</a></li>
                    <li><a href="/page/picture">图片</a></li>
                    <li><a href="/page/more">更多</a></li>
                </ul>
            </div>
        </div>
   </div>
  <!-- 内容区-->
 	<div class="container content">	
 		<div>
 			<div class="row">
			  <div class="col-sm-6 col-md-5">
			  	<a href="/page/picture/R15"><div class="alert alert-success" role="alert" style="font-family: '微软雅黑';font-size: 25px;text-align: center;">R15</div></a>
			  	<a href="/page/picture/R18"><div class="alert alert-danger" role="alert" style="font-family: '微软雅黑';font-size: 25px;text-align: center;" >R18</div></a>
			  </div>
			</div>
 		</div>	
 	</div>
</div>   
</body>


	<script type="text/javascript">
    	let vm = new Vue({
		el: '#app',
		data: {
			msg:"hello world!"

		},
		methods:{
			
        }
	});
    </script>
</html>